.navbar-light {
  background-color: #fff;
  border-bottom: 1px solid #f3f4f8;
}

.navbar-nav {
  flex-direction: row;

  & .nav-item {
    // line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    .topbar-title {
      font-weight: bold;
      font-size: 18px;
    }

    .nav-link {
      cursor: pointer;
    }
  }
}
