<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="apple-touch-icon" sizes="180x180" href="./src/components/images/Logo_itb.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./src/components/images/Logo_itb.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./src/components/images/Logo_itb.png">
  <link rel="icon" type="image/x-icon" href="./src/components/images/Logo_itb.png">

  <link rel="manifest" href="./src/components/images/Logo_itb.png">

  <!-- Site Properities -->
  <title>Farma ITB</title>
  <meta name="author" content="Farmaklik POS" />
  <meta name="keywords" content="Farmaklik POS" />
  <meta name="description" content="" />
  <meta name="ROBOTS" CONTENT="INDEX, FOLLOW" />

  <!-- Facebook OG -->

  <!-- <meta property="og:image" content=""/> -->
  <!-- <meta property="og:image:width" content="1280"/>
  <meta property="og:image:height" content="600"/>
  <meta property="fb:app_id" content="1575xxx"/>
  
  <meta property="og:type" content="website"/> -->

  <!-- Fontfaces CSS-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css" />

  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

  <!-- Vendor CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.css" integrity="sha256-eacfEFFt07So0i0jcf0GCoJfYEnTpTelDK3/9zN+P0g=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha256-iXUYfkbVl5itd4bAkFH5mjMEN5ld9t3OHvXX3IU8UxU=" crossorigin="anonymous" />
</head>
<body class="app">
  <div id="root"><!-- ::APP:: --></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-functions-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-messaging-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-database-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-storage-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.9.1/firebase-analytics-compat.js"></script>
</body>
</html>