// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Page Container
// + @Main Content
// + @Full Container
// + @Collapsed State

// ---------------------------------------------------------
// @Page Container
// ---------------------------------------------------------

.page-container {
  // height: 100vh;
  padding-left: $offscreen-size;
  transition: all 0.2s ease;
  background-color: #f3f4f9;
  display: flex;
  flex-direction: column;

  // @include between($breakpoint-md, $breakpoint-xl) {
  //   padding-left: $collapsed-size;
  // }

  @include to($breakpoint-md) {
    padding-left: 0;
  }
}

// ---------------------------------------------------------
// @Main Content
// ---------------------------------------------------------

.main-content-wrapper {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.main-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  // min-height: calc(100vh);

  // @include to($breakpoint-md) {
  // padding: 85px 5px 5px;
  // }
}

// ---------------------------------------------------------
// @Full Container
// ---------------------------------------------------------

.full-container {
  left: $offscreen-size;
  min-height: calc(100vh - #{$header-height});
  position: absolute;
  right: 0;
  top: $header-height;
  transition: all 0.2s ease;

  // @include between($breakpoint-md, $breakpoint-xl) {
  //   left: 0;
  //   padding-left: $collapsed-size;
  // }

  @include to($breakpoint-md) {
    left: 0;
  }
}

// ---------------------------------------------------------
// @Collapsed State
// ---------------------------------------------------------

.is-collapsed {
  .page-container {
    @include to($breakpoint-md) {
      padding-left: 0;
    }

    // @include between($breakpoint-md, $breakpoint-xl) {
    //   padding-left: $offscreen-size;
    // }
  }

  .full-container {
    // left: $collapsed-size;

    @include to($breakpoint-md) {
      left: 0;
    }

    // @include between($breakpoint-md, $breakpoint-xl) {
    //   left: $offscreen-size;
    //   padding-left: 0;
    // }
  }
}
